[Unit]
Description=numpad driver
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/numpad_driver
RemainAfterExit=fallse
Restart=on-failure

[Install]
WantedBy=graphical.target
